# Build and Release Folders
bin-debug/
.vscode/
bin-release/
[Oo]bj/
[Bb]in/
_deps
# Other files and folders
.settings/
CMakeFiles/

# Executables
*.swf
*.air
*.ipa
*.apk
*.cmake

cmake_install.cmake
CMakeCache.txt
*.filters
*.sln
*.vcxproj
Makefile
liblidar.a
blind-nav
# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

